 
* {
  font-family: -apple-system, "Helvetica Neue", sans-serif;
}

body, html {
  background-color: #e9e7e7;
}

body {
  display: flex;
  margin: 0px;
}

/* SIDEBAR */

aside {
  width: 25%;
  margin: none;
}

header {
  text-align: right;
  margin: 10px 5px 30px 5px;
  background-color: #192e3d;
  color: #e9e7e7;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#logo {
  height: 75px;
  border-radius: 50px;
}

h1 {
  font-size: 2em;
  margin-top: 23px;
}

h2{
  font-size: 1.25em;
  margin: 0px; 
}
h3{
  color: #e9e7e7;
  margin: 10px 250px;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: end;
}

nav > button {
  border: none;
  margin-bottom: 20px;
  background-color:  #e9e7e7;
  color: #192e3d;
  width: 65%;
  text-align: center;
  border-radius: 10px 0px 0px 10px;
  padding: 20px;
  transition: width 0.5s ease-out;
}

.active-nav {
  background-color:  #192e3d;
  color: #e9e7e7;
}

/* MAIN */

main {
  padding: 10px;
  width: 75%;
  background-color: #192e3d;
}

form {
  display: flex;
}

.item,
.merchant {
  width: 220px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #6daccb;
  border-radius: 15px;
  border-bottom:2px solid #e9e7e7;
  border-left:2px solid #e9e7e7;
  margin: 10px;
  padding: 5px;
}

.merchant {
  /* height: 250px; */
  display: flex;
}

.item > p {
  margin: 3px; 
  color: #e9e7e7; 
  font-size: 85%;
}
.item > h2 {
  color: #192e3d;
  flex-shrink: 1; 
  max-height: 40%;
  transition: color, font-size 0.2s ease-in-out; 
}

.view-items-button {
  padding: 5px;
  margin-right: 10px;
  
}

.merchant-name {
  color: #192e3d;
  padding-left: 10px;
  margin: 5px 25px;
  justify-content: center;
  transition: color, font-size 0.2s ease-in-out
  
}

.view-merchant-items {
  margin: 0px 10px;
}
.edit-merchant.icon, .delete-merchant.icon {
  width: 35px !important;
  height: 35px !important;
  font-size: 125%;
  margin: 20px;
}

.display-options {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.display-options > button {
  width: 75px;
  height: 55px;
  margin: 5px 53px;
  border-radius: 40px;
  display: block;
  margin-left: auto;
}

.merchant-name-in-item {
  display: inline;
  color: #192e3d !important;
  font-weight: bold;
}

.success {
  color: #6daccb;
  margin-left: 53px;
}

.fail {
  color: #d58c78;
  margin-left: 53px;
}

.view {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.item-price {
  font-size: larger;
  font-weight: bold;
}

button {
  cursor: pointer;
  color : #192e3d;
  background-color: #e9e7e7;
  border-radius: 5px;
  border: 0px;
  transition: background-color 0.5s ease-out;
}

label {
  color: #e9e7e7;
  margin: 0px 5px;
}

#new-merchant-form {
  margin: 0px 50px;
}

.edit-merchant-input, .submit-merchant-edits, .discard-merchant-edits {
  margin: 5px 0;
}

/* Animations*/

button:not(nav button):hover{
  background-color: #fdcf56;
}

nav > button:hover {
  width: 70%;
}

.item:hover h2 {
  color: #e9e7e7;
  font-size: 150%;
}

.merchant:hover .merchant-name {
  color: #e9e7e7;
  font-size: 150%;
}

/* HIDDEN ELEMENTS */

.hidden {
  display: none;
} 